/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
    Example CSS
    - Set default body font
    - Add some padding and background to the page
    - Set a display font for titles
*/
* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 95vh;
    padding: 10px;
    background: #03447a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid #f3f3f3;
}