/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
    Example CSS
    - Set default body font
    - Add some padding and background to the page
    - Set a display font for titles
*/
* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 95vh;
    padding: 0px;
    background-image: url(/src/images/slate1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid #222831;
}
.header {
    background-color: #222831;
    height: 160px;
    width: auto;
    position: absolute; left:0px; right:0px; top:0px; border-radius: 0px; text-align: center; 
}
.headerlink {
    background-color: #00ADB5;
    border-radius: 15px;
    position: relative; left: 0px; top: 60px; padding: 15px; margin: 15px; border: 2px solid;
    font-size: 35px;
    color: #EEEEEE;
    z-index: 1;
   
}

.headerlink:hover {
    background: #b1690b; }
    .headerlink:active {
    background: #832a01;}


.trimmedheaderpicture {
    object-fit: cover;
    width: 100%;
    height: 160px;
    object-position: center 20%; top: 0px;
    z-index: 0;

  }
.div1{
       position: absolute; bottom: 160px; top: 260px; left: 15%; right: 15%;
       background-color: #0405058e;
       color: #EEEEEE;
       text-align: center;
       border-radius: 5px;
       padding: 10px;
}
.divhome{
    position: absolute; bottom: 160px; top: 260px; left: 15%; right: 15%;
    background-color: #0405058e;
    color: #EEEEEE;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
}
.div2{
    position: absolute; bottom: 160px; top: 260px; left: 160px; right: 160px;
    background-color: #0405058e;
    color: #EEEEEE;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}
.div3{
    position: absolute; bottom: 15%; top: auto; left: 50%; right: auto;
    color: #EEEEEE;
}
.aboutheader {
    font-size: 40px;

}
.aboutheadertwo{
    font-size: 30px; 
    
}
.aboutpicture{
 display: block;
  margin-left: auto;
  margin-right: auto;
  scale: 120%;  
}
.contacttext{
    text-align:left;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 5px;
  }
.grid-item {
  padding: 10px;
  font-size: 30px;
  border: 5px solid #0405058e;
  border-radius: 5px;
  background-color: #1949492c;
  }
  .feedbackbox{
    color: #222831;
    text-align: center;
    border-width: 5px;
    border-color: #222831;
  }
.footer{
    font-size:11px;
    margin-top: auto;
    color:#EEEEEE;
}
